body{
    font-family: 'Arima', cursive;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    align-items: center;
    justify-content: center;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 17rem;
    text-align: center;
    color: white;
}
.first-heading{
    font-size: 40px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 166, 0),rgb(254, 44, 7));
    padding: 10px 40px;
    color: white;
    font-weight: bold;
}
.second-section{
    box-sizing: border-box;
    padding-top: 5rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.section2{
    text-align: center;
}
.plan-section{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.container{
    padding: 2rem 20%;
}
.flex{
   display: flex;
   flex-wrap: wrap;
   gap: 1.3rem;
}
.card{
    background-color: rgb(216, 98, 98);
    padding: 15px 20px;
    box-shadow: 0 0 3px rgba(0,0,0,0.5);
    flex: 1 0 20rem;
}
