body{
    font-family: 'Arima', cursive;
    font-family: 'Poppins', sans-serif;
}
.first-section{
    align-items: center;
    justify-content: center;
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 17rem;
    text-align: center;
    color: white;
}
.first-heading{
    font-size: 40px;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 166, 0),rgb(254, 44, 7));
    padding: 10px 40px;
    color: white;
    font-weight: bold;
}
.second-section{
    padding-top: 5rem;
}
.section2{
    text-align: center;
}
.plan-section{
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.section2-div1{
    background-color: rgb(201, 227, 227);
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 300px;
    width: 20%;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    flex-flow: wrap;
}
.section2-div2{
    background-color: rgb(244, 203, 191);
    width: 20%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 300px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    flex-flow: wrap;

}
.section2-div3{
    background-color: rgb(218, 213, 157);
    width: 20%;
    padding-left: 10px;
    padding-top: 30px;
    padding-bottom: 300px;
    height: 300px;
    margin: 20px;
    box-sizing: border-box;
    flex-flow: wrap;

}